DATABASE_URL="file:./dev.db"
ADMIN_TOKEN=MasterToken
JWT_SECRET=change-me-please
STORAGE_DRIVER=prisma
# Coma separada. Ej: http://localhost:3000,https://staging.oficiosya.com
CORS_ORIGINS=http://localhost:3000
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
